$background-color-dark: #0e1621;
$background-color-medium: #17212b;
$background-color-light: #202b36;
$message-color: #2a5378;
$border-color: #0a121b;
$icons-color: #6b757f;
$recent-message-color: #5f6d7a;
$link-color: #8bbeeb;
$active-icons-color: #84b9e5;
$font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-color: white;